<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<app-root></app-root>, initial-scale=1.0">
    <title>Biografia Adrian</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/aa/c5/a9/aac5a9050990904b24ec66074f4f61ec.png">

</head>

<body>
    <app-root></app-root>
    <h1>BIOGRAFÍA</h1>

    <div class="circle">
        <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t1.6435-9/89495429_2728729487222435_5812590326434496512_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ToPCwZIY-BAAX8N05ZT&_nc_ht=scontent.fmch2-1.fna&oh=00_AfCfu0jkY_LbI58EniQFH7y0PvMXZbyxQZ_b-qSm_E4D4w&oe=64A72BE5"
            alt="Imagen circular">
    </div>
    <h2>ADRIAN ALONSO VEGA MACAS</h2>
    <div class="Columna">
        <p>Adrian Alonso Vega Macas es un destacado profesional ecuatoriano con una gran pasión por la tecnología. Nació el 11 de noviembre de 2002 en Pasaje, una hermosa ciudad ubicada en la provincia de El Oro, Ecuador. Es hijo de Mirna Jenny Macas Orellana
            y Alonso Manuel Vega Sanchez, quienes le inculcaron valores sólidos y un aprecio por el aprendizaje. Desde temprana edad, Adrian mostró un profundo interés por la informática. Estudió en la reconocida Escuela Vicente Rocafuerte y posteriormente
            asistió al Colegio Dr. José Ochoa León, donde se enfocó en la carrera de Informática y adquirió los conocimientos fundamentales para su desarrollo profesional. Actualmente, Adrian se encuentra embarcado en su viaje académico en la Universidad
            Técnica de Machala, donde persigue su pasión por la tecnología al estudiar la carrera de Tecnologías de la Información. En este entorno académico estimulante, ha tenido la oportunidad de ampliar su conocimiento y habilidades en programación,
            seguridad informática y otras áreas especializadas. Además de su dedicación a los estudios, Adrian encuentra tiempo para disfrutar de diversas actividades. Como apasionado del baloncesto, se deleita en la cancha y encuentra en este deporte
            una fuente de diversión y camaradería. También es un ferviente seguidor del fútbol y se emociona al ver los partidos de sus equipos favoritos. Además, su amor por los videojuegos le brinda la oportunidad de sumergirse en emocionantes mundos
            virtuales y poner a prueba sus habilidades estratégicas. Adrian tiene un espíritu jovial y contagioso sentido del humor. Siempre está dispuesto a sacar una sonrisa a aquellos que lo rodean con sus chistes y ocurrencias. Además, su pasión por
            la música es amplia y variada, encontrando placer en diferentes géneros musicales que le inspiran y le brindan momentos de alegría. Cuando busca un respiro del mundo digital, Adrian se siente atraído por la playa y la serenidad que esta ofrece.
            Disfruta caminar por la orilla y sumergirse en el agua, ya que la natación le proporciona un escape relajante y le permite mantenerse en forma. En el ámbito del entretenimiento, Adrian es un ferviente admirador del universo de Marvel, y Spiderman
            y Thor ocupan un lugar especial en su corazón. Se siente cautivado por las emocionantes aventuras de estos superhéroes y su capacidad para enfrentar desafíos aparentemente imposibles. Adrian Alonso Vega Macas es un joven talentoso y dedicado
            en el campo de la tecnología. Su determinación, entusiasmo y espíritu lúdico lo convierten en un individuo valioso en cualquier entorno. Con su amor por la programación y su disposición para seguir aprendiendo y creciendo, está decidido a
            dejar una marca significativa en el mundo de la tecnología mientras continúa explorando nuevas oportunidades y horizontes emocionantes."</p>

    </div>

    <div class="social-icons">
        <a href="https://www.facebook.com/adrianvega.112/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/adrian_vega08/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/FtiAdrian" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <a href="https://api.whatsapp.com/send?phone=TUNUMERODEWHATSAPP" target="_blank" class="whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>

</body>

</html>